.SignIn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.SignInError input {
  border-radius: 0.4rem;
  margin: 5px;
  padding: 5px 3px;
  border: 1px solid;
  border-radius: 4px;
  border-color: red;
}

.SignInError {
  color: red;
  text-align: center;
}
